.main-banner{
    background-image: url('../../../assets/banner.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;

}

.main-banner::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgb(9 7 16 / 47%);
   z-index: -1;
}